.appFooter {
  a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
  }

  a:hover {
    color: white;
  }
  background-color: rgb(30, 57, 50);
  padding: 30px 20px;
  .logo {
    img {
      height: 65px;
      width: 65px;
    }
  }
  section {
    h6 {
      font-size: 16px;
      font-weight: 600;
      color: white;
    }
  }

  .social-links {
    a {
      img {
        height: 24px;
        width: 24px;
      }
    }
  }

  .download-apps {
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    border-radius: 8px;
    overflow: hidden;
    h4 {
      font-size: 16px;
      color: white;
      font-weight: 600;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
